# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env

# VSCode or IDE config
.vscode/
.idea/

# Docker-related
*.log
*.pid
*.seed
*.pid.lock
*.db
docker-compose.override.yml

# Test cache
.pytest_cache/

# SQLite / DB backup
*.sqlite3
*.bak

# OS files
.DS_Store
Thumbs.db
